
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <a class="btn btn-primary" (click) = 'addToShoppingList()' style="cursor: pointer">To Shopping List</a>
      <a class="btn btn-info" style="cursor: pointer" [routerLink]="['edit']" >Edit Recipe</a>
      <a class="btn btn-danger" style="cursor: pointer"  (click)="deleteRecipe();">Delete Recipe</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="lds-roller" *ngIf="loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>


<div class="row" *ngIf="!loading">
  <div class="col-xs-6">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-xs-12 pull-left">
    <h1 style="display:inline-block">{{ recipe.name }}</h1>
    
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="">
        <li><a (click) = 'addToShoppingList()' style="cursor: pointer">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div> -->
<div class="row" *ngIf="!loading">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-items" *ngFor="let item of recipe.ingredients">{{item.name|uppercase}} - {{item.amount}}</li>
    </ul>
  </div>
</div>
